# Ansible
*.retry
.vault_pass

# Selectel/OpenStack
.env
*.raw
*.qcow2

# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Local inventory overrides
inventory/hosts_local.yml

# IDE - JetBrains
.idea/
*.iml
*.ipr
*.iws
out/

# IDE - VSCode
.vscode/

# IDE - Vim
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
